In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
group_data_by_boro = pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/totals/group-data-by-boro.csv")

In [5]:
group_data_by_boro

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,220971.0,30560.0,8230.0,8632.01,1193.80,321.50,145943.0,22198.0,...,8272.0,9768.10,1375.55,367.02,59560.0,5632.0,1551.0,12508.85,1182.84,325.74
1,Age,0-4,5469.0,243.0,NaN,2989.73,132.84,NaN,3392.0,170.0,...,NaN,3285.31,109.41,NaN,1377.0,32.0,NaN,5034.00,116.98,NaN
2,Age,5-12,12037.0,146.0,NaN,4777.05,57.94,NaN,7527.0,97.0,...,NaN,5066.90,44.41,NaN,3304.0,16.0,NaN,7221.08,34.97,NaN
3,Age,13-17,8896.0,154.0,NaN,6346.95,109.87,NaN,5489.0,123.0,...,NaN,6716.49,101.92,NaN,3010.0,30.0,NaN,10078.35,100.45,NaN
4,Age,0-17,NaN,NaN,9.0,NaN,NaN,1.57,NaN,NaN,...,5.0,NaN,NaN,1.12,NaN,NaN,2.0,NaN,NaN,1.94
5,Age,18-24,20167.0,779.0,20.0,9703.71,374.83,9.62,13179.0,615.0,...,7.0,10925.89,320.60,4.07,6442.0,113.0,6.0,16238.13,284.84,15.12
6,Age,25-34,41420.0,2087.0,75.0,8812.00,444.00,15.96,25812.0,1587.0,...,71.0,10847.79,566.62,19.74,10233.0,301.0,12.0,15811.43,465.09,18.54
7,Age,35-44,34305.0,2408.0,171.0,9582.78,672.65,47.77,22710.0,1926.0,...,230.0,11783.99,895.18,75.12,9075.0,439.0,33.0,15336.13,741.88,55.77
8,Age,45-54,30520.0,3345.0,510.0,10332.94,1132.49,172.67,23162.0,2950.0,...,526.0,12054.10,1384.69,175.80,9405.0,716.0,90.0,14655.92,1115.75,140.25
9,Age,55-64,30278.0,5708.0,1185.0,10596.53,1997.66,414.72,21971.0,4582.0,...,1385.0,11268.75,2192.58,460.95,8599.0,1131.0,185.0,13003.18,1710.27,279.75
10,Age,65-74,21032.0,6779.0,2055.0,10003.66,3224.36,977.44,12763.0,4797.0,...,2046.0,9299.16,3127.30,984.23,4609.0,1232.0,367.0,9878.05,2640.43,786.56
11,Age,75+,16651.0,8911.0,4205.0,10562.61,5652.72,2667.45,9734.0,5347.0,...,4002.0,9168.98,5038.83,2494.17,3490.0,1622.0,856.0,10691.75,4969.06,2622.39
12,Race/ethnicity,Asian/Pacific-Islander,17426.0,2141.0,566.0,5279.33,646.39,185.83,4135.0,659.0,...,1340.0,5682.37,778.67,193.79,2910.0,304.0,95.0,5492.04,527.03,179.50
13,Race/ethnicity,Black/African-American,46718.0,10347.0,2815.0,5870.60,1158.52,304.50,29638.0,6960.0,...,1487.0,6381.40,1101.46,293.86,4033.0,645.0,153.0,8957.62,1476.52,377.82
14,Race/ethnicity,Hispanic/Latino,35873.0,5418.0,1561.0,7466.24,1183.05,358.61,70672.0,10231.0,...,2324.0,9032.30,1553.06,398.98,9388.0,1142.0,217.0,10857.46,1567.63,361.10
15,Race/ethnicity,White,58769.0,9430.0,2710.0,6168.83,894.71,244.12,10308.0,2081.0,...,2168.0,6484.19,719.50,210.45,28901.0,3215.0,1022.0,10139.64,815.45,235.37
16,Sex,Female,115554.0,14723.0,3467.0,8574.11,1092.45,257.25,78101.0,10707.0,...,3284.0,9575.43,1182.88,283.11,29979.0,2604.0,668.0,12245.67,1063.67,272.86
17,Sex,Male,105005.0,15829.0,4761.0,8662.39,1305.81,392.76,67572.0,11487.0,...,4985.0,9940.68,1579.41,455.71,29526.0,3025.0,882.0,12763.58,1307.66,381.27

In [10]:
group_data_by_boro.drop([12,13,14,15,16,17], inplace=True)

In [11]:
group_data_by_boro

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,220971.0,30560.0,8230.0,8632.01,1193.80,321.50,145943.0,22198.0,...,8272.0,9768.10,1375.55,367.02,59560.0,5632.0,1551.0,12508.85,1182.84,325.74
1,Age,0-4,5469.0,243.0,NaN,2989.73,132.84,NaN,3392.0,170.0,...,NaN,3285.31,109.41,NaN,1377.0,32.0,NaN,5034.00,116.98,NaN
2,Age,5-12,12037.0,146.0,NaN,4777.05,57.94,NaN,7527.0,97.0,...,NaN,5066.90,44.41,NaN,3304.0,16.0,NaN,7221.08,34.97,NaN
3,Age,13-17,8896.0,154.0,NaN,6346.95,109.87,NaN,5489.0,123.0,...,NaN,6716.49,101.92,NaN,3010.0,30.0,NaN,10078.35,100.45,NaN
4,Age,0-17,NaN,NaN,9.0,NaN,NaN,1.57,NaN,NaN,...,5.0,NaN,NaN,1.12,NaN,NaN,2.0,NaN,NaN,1.94
5,Age,18-24,20167.0,779.0,20.0,9703.71,374.83,9.62,13179.0,615.0,...,7.0,10925.89,320.60,4.07,6442.0,113.0,6.0,16238.13,284.84,15.12
6,Age,25-34,41420.0,2087.0,75.0,8812.00,444.00,15.96,25812.0,1587.0,...,71.0,10847.79,566.62,19.74,10233.0,301.0,12.0,15811.43,465.09,18.54
7,Age,35-44,34305.0,2408.0,171.0,9582.78,672.65,47.77,22710.0,1926.0,...,230.0,11783.99,895.18,75.12,9075.0,439.0,33.0,15336.13,741.88,55.77
8,Age,45-54,30520.0,3345.0,510.0,10332.94,1132.49,172.67,23162.0,2950.0,...,526.0,12054.10,1384.69,175.80,9405.0,716.0,90.0,14655.92,1115.75,140.25
9,Age,55-64,30278.0,5708.0,1185.0,10596.53,1997.66,414.72,21971.0,4582.0,...,1385.0,11268.75,2192.58,460.95,8599.0,1131.0,185.0,13003.18,1710.27,279.75
10,Age,65-74,21032.0,6779.0,2055.0,10003.66,3224.36,977.44,12763.0,4797.0,...,2046.0,9299.16,3127.30,984.23,4609.0,1232.0,367.0,9878.05,2640.43,786.56
11,Age,75+,16651.0,8911.0,4205.0,10562.61,5652.72,2667.45,9734.0,5347.0,...,4002.0,9168.98,5038.83,2494.17,3490.0,1622.0,856.0,10691.75,4969.06,2622.39

In [12]:
group_data_by_boro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   group                  12 non-null     object
 1   subgroup               12 non-null     object
 2   BK_CASE_COUNT          11 non-null     float64
 3   BK_HOSPITALIZED_COUNT  11 non-null     float64
 4   BK_DEATH_COUNT         9 non-null      float64
 5   BK_CASE_RATE           11 non-null     float64
 6   BK_HOSPITALIZED_RATE   11 non-null     float64
 7   BK_DEATH_RATE          9 non-null      float64
 8   BX_CASE_COUNT          11 non-null     float64
 9   BX_HOSPITALIZED_COUNT  11 non-null     float64
 10  BX_DEATH_COUNT         9 non-null      float64
 11  BX_CASE_RATE           11 non-null     float64
 12  BX_HOSPITALIZED_RATE   11 non-null     float64
 13  BX_DEATH_RATE          9 non-null      float64
 14  MN_CASE_COUNT          11 non-null     float64
 15  MN_HOSPITALIZED_COUNT  11 non-null     float64
 16  MN_DEATH_COUNT         9 non-null      float64
 17  MN_CASE_RATE           11 non-null     float64
 18  MN_HOSPITALIZED_RATE   11 non-null     float64
 19  MN_DEATH_RATE          9 non-null      float64
 20  QN_CASE_COUNT          11 non-null     float64
 21  QN_HOSPITALIZED_COUNT  11 non-null     float64
 22  QN_DEATH_COUNT         9 non-null      float64
 23  QN_CASE_RATE           11 non-null     float64
 24  QN_HOSPITALIZED_RATE   11 non-null     float64
 25  QN_DEATH_RATE          9 non-null      float64
 26  SI_CASE_COUNT          11 non-null     float64
 27  SI_HOSPITALIZED_COUNT  11 non-null     float64
 28  SI_DEATH_COUNT         9 non-null      float64
 29  SI_CASE_RATE           11 non-null     float64
 30  SI_HOSPITALIZED_RATE   11 non-null     float64
 31  SI_DEATH_RATE          9 non-null      float64
dtypes: float64(30), object(2)
memory usage: 3.1+ KB

In [14]:
group_data_by_boro = group_data_by_boro.fillna((group_data_by_boro[group_data_by_boro['group']=='Age'][:3].sum()))

In [15]:
group_data_by_boro

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,220971.0,30560.0,8230.0,8632.01,1193.80,321.50,145943.0,22198.0,...,8272.0,9768.10,1375.55,367.02,59560.0,5632.0,1551.0,12508.85,1182.84,325.74
1,Age,0-4,5469.0,243.0,0.0,2989.73,132.84,0.00,3392.0,170.0,...,0.0,3285.31,109.41,0.00,1377.0,32.0,0.0,5034.00,116.98,0.00
2,Age,5-12,12037.0,146.0,0.0,4777.05,57.94,0.00,7527.0,97.0,...,0.0,5066.90,44.41,0.00,3304.0,16.0,0.0,7221.08,34.97,0.00
3,Age,13-17,8896.0,154.0,0.0,6346.95,109.87,0.00,5489.0,123.0,...,0.0,6716.49,101.92,0.00,3010.0,30.0,0.0,10078.35,100.45,0.00
4,Age,0-17,26402.0,543.0,9.0,14113.73,300.65,1.57,16408.0,390.0,...,5.0,15068.70,255.74,1.12,7691.0,78.0,2.0,22333.43,252.40,1.94
5,Age,18-24,20167.0,779.0,20.0,9703.71,374.83,9.62,13179.0,615.0,...,7.0,10925.89,320.60,4.07,6442.0,113.0,6.0,16238.13,284.84,15.12
6,Age,25-34,41420.0,2087.0,75.0,8812.00,444.00,15.96,25812.0,1587.0,...,71.0,10847.79,566.62,19.74,10233.0,301.0,12.0,15811.43,465.09,18.54
7,Age,35-44,34305.0,2408.0,171.0,9582.78,672.65,47.77,22710.0,1926.0,...,230.0,11783.99,895.18,75.12,9075.0,439.0,33.0,15336.13,741.88,55.77
8,Age,45-54,30520.0,3345.0,510.0,10332.94,1132.49,172.67,23162.0,2950.0,...,526.0,12054.10,1384.69,175.80,9405.0,716.0,90.0,14655.92,1115.75,140.25
9,Age,55-64,30278.0,5708.0,1185.0,10596.53,1997.66,414.72,21971.0,4582.0,...,1385.0,11268.75,2192.58,460.95,8599.0,1131.0,185.0,13003.18,1710.27,279.75
10,Age,65-74,21032.0,6779.0,2055.0,10003.66,3224.36,977.44,12763.0,4797.0,...,2046.0,9299.16,3127.30,984.23,4609.0,1232.0,367.0,9878.05,2640.43,786.56
11,Age,75+,16651.0,8911.0,4205.0,10562.61,5652.72,2667.45,9734.0,5347.0,...,4002.0,9168.98,5038.83,2494.17,3490.0,1622.0,856.0,10691.75,4969.06,2622.39

In [16]:
group_data_by_boro.drop([1,2,3],inplace=True)
group_data_by_boro

,group,subgroup,BK_CASE_COUNT,BK_HOSPITALIZED_COUNT,BK_DEATH_COUNT,BK_CASE_RATE,BK_HOSPITALIZED_RATE,BK_DEATH_RATE,BX_CASE_COUNT,BX_HOSPITALIZED_COUNT,...,QN_DEATH_COUNT,QN_CASE_RATE,QN_HOSPITALIZED_RATE,QN_DEATH_RATE,SI_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_CASE_RATE,SI_HOSPITALIZED_RATE,SI_DEATH_RATE
0,Boroughwide,Boroughwide,220971.0,30560.0,8230.0,8632.01,1193.80,321.50,145943.0,22198.0,...,8272.0,9768.10,1375.55,367.02,59560.0,5632.0,1551.0,12508.85,1182.84,325.74
4,Age,0-17,26402.0,543.0,9.0,14113.73,300.65,1.57,16408.0,390.0,...,5.0,15068.70,255.74,1.12,7691.0,78.0,2.0,22333.43,252.40,1.94
5,Age,18-24,20167.0,779.0,20.0,9703.71,374.83,9.62,13179.0,615.0,...,7.0,10925.89,320.60,4.07,6442.0,113.0,6.0,16238.13,284.84,15.12
6,Age,25-34,41420.0,2087.0,75.0,8812.00,444.00,15.96,25812.0,1587.0,...,71.0,10847.79,566.62,19.74,10233.0,301.0,12.0,15811.43,465.09,18.54
7,Age,35-44,34305.0,2408.0,171.0,9582.78,672.65,47.77,22710.0,1926.0,...,230.0,11783.99,895.18,75.12,9075.0,439.0,33.0,15336.13,741.88,55.77
8,Age,45-54,30520.0,3345.0,510.0,10332.94,1132.49,172.67,23162.0,2950.0,...,526.0,12054.10,1384.69,175.80,9405.0,716.0,90.0,14655.92,1115.75,140.25
9,Age,55-64,30278.0,5708.0,1185.0,10596.53,1997.66,414.72,21971.0,4582.0,...,1385.0,11268.75,2192.58,460.95,8599.0,1131.0,185.0,13003.18,1710.27,279.75
10,Age,65-74,21032.0,6779.0,2055.0,10003.66,3224.36,977.44,12763.0,4797.0,...,2046.0,9299.16,3127.30,984.23,4609.0,1232.0,367.0,9878.05,2640.43,786.56
11,Age,75+,16651.0,8911.0,4205.0,10562.61,5652.72,2667.45,9734.0,5347.0,...,4002.0,9168.98,5038.83,2494.17,3490.0,1622.0,856.0,10691.75,4969.06,2622.39

In [17]:
group_data_by_boro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 11
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   group                  9 non-null      object
 1   subgroup               9 non-null      object
 2   BK_CASE_COUNT          9 non-null      float64
 3   BK_HOSPITALIZED_COUNT  9 non-null      float64
 4   BK_DEATH_COUNT         9 non-null      float64
 5   BK_CASE_RATE           9 non-null      float64
 6   BK_HOSPITALIZED_RATE   9 non-null      float64
 7   BK_DEATH_RATE          9 non-null      float64
 8   BX_CASE_COUNT          9 non-null      float64
 9   BX_HOSPITALIZED_COUNT  9 non-null      float64
 10  BX_DEATH_COUNT         9 non-null      float64
 11  BX_CASE_RATE           9 non-null      float64
 12  BX_HOSPITALIZED_RATE   9 non-null      float64
 13  BX_DEATH_RATE          9 non-null      float64
 14  MN_CASE_COUNT          9 non-null      float64
 15  MN_HOSPITALIZED_COUNT  9 non-null      float64
 16  MN_DEATH_COUNT         9 non-null      float64
 17  MN_CASE_RATE           9 non-null      float64
 18  MN_HOSPITALIZED_RATE   9 non-null      float64
 19  MN_DEATH_RATE          9 non-null      float64
 20  QN_CASE_COUNT          9 non-null      float64
 21  QN_HOSPITALIZED_COUNT  9 non-null      float64
 22  QN_DEATH_COUNT         9 non-null      float64
 23  QN_CASE_RATE           9 non-null      float64
 24  QN_HOSPITALIZED_RATE   9 non-null      float64
 25  QN_DEATH_RATE          9 non-null      float64
 26  SI_CASE_COUNT          9 non-null      float64
 27  SI_HOSPITALIZED_COUNT  9 non-null      float64
 28  SI_DEATH_COUNT         9 non-null      float64
 29  SI_CASE_RATE           9 non-null      float64
 30  SI_HOSPITALIZED_RATE   9 non-null      float64
 31  SI_DEATH_RATE          9 non-null      float64
dtypes: float64(30), object(2)
memory usage: 2.3+ KB

In [19]:
for col in group_data_by_boro.columns:
    if "RATE" in col or "HOSPITALIZED_COUNT" in col:
        group_data_by_boro = group_data_by_boro.drop(col, axis=1)

In [20]:
group_data_by_boro

,group,subgroup,BK_CASE_COUNT,BK_DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
0,Boroughwide,Boroughwide,220971.0,8230.0,145943.0,5429.0,104928.0,3625.0,220159.0,8272.0,59560.0,1551.0
4,Age,0-17,26402.0,9.0,16408.0,5.0,9199.0,2.0,22141.0,5.0,7691.0,2.0
5,Age,18-24,20167.0,20.0,13179.0,8.0,11146.0,3.0,18812.0,7.0,6442.0,6.0
6,Age,25-34,41420.0,75.0,25812.0,62.0,23528.0,21.0,39017.0,71.0,10233.0,12.0
7,Age,35-44,34305.0,171.0,22710.0,159.0,15473.0,61.0,36082.0,230.0,9075.0,33.0
8,Age,45-54,30520.0,510.0,23162.0,390.0,13714.0,154.0,36066.0,526.0,9405.0,90.0
9,Age,55-64,30278.0,1185.0,21971.0,944.0,13557.0,401.0,33859.0,1385.0,8599.0,185.0
10,Age,65-74,21032.0,2055.0,12763.0,1396.0,9129.0,792.0,19331.0,2046.0,4609.0,367.0
11,Age,75+,16651.0,4205.0,9734.0,2465.0,9054.0,2190.0,14712.0,4002.0,3490.0,856.0

In [21]:
group_data_by_boro = group_data_by_boro[group_data_by_boro['group']=='Age']

In [22]:
group_data_by_boro

,group,subgroup,BK_CASE_COUNT,BK_DEATH_COUNT,BX_CASE_COUNT,BX_DEATH_COUNT,MN_CASE_COUNT,MN_DEATH_COUNT,QN_CASE_COUNT,QN_DEATH_COUNT,SI_CASE_COUNT,SI_DEATH_COUNT
4,Age,0-17,26402.0,9.0,16408.0,5.0,9199.0,2.0,22141.0,5.0,7691.0,2.0
5,Age,18-24,20167.0,20.0,13179.0,8.0,11146.0,3.0,18812.0,7.0,6442.0,6.0
6,Age,25-34,41420.0,75.0,25812.0,62.0,23528.0,21.0,39017.0,71.0,10233.0,12.0
7,Age,35-44,34305.0,171.0,22710.0,159.0,15473.0,61.0,36082.0,230.0,9075.0,33.0
8,Age,45-54,30520.0,510.0,23162.0,390.0,13714.0,154.0,36066.0,526.0,9405.0,90.0
9,Age,55-64,30278.0,1185.0,21971.0,944.0,13557.0,401.0,33859.0,1385.0,8599.0,185.0
10,Age,65-74,21032.0,2055.0,12763.0,1396.0,9129.0,792.0,19331.0,2046.0,4609.0,367.0
11,Age,75+,16651.0,4205.0,9734.0,2465.0,9054.0,2190.0,14712.0,4002.0,3490.0,856.0